{%extends 'shop/Basic.html'%}
{%load static%}
{%block css%}
    <link rel="stylesheet" href="{%static 'css/productlist.css'%}">
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .card{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .card-img-top{
            width: 50%;
            height: 50%;
        }
        .items{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
{%endblock%}

{%block body%}
    <div class="container" style="margin-top: 50px;">
        <div class="items">
            {%for pr in products%}
            <div class="card-cover">
                <div class="card" style="width: 18rem;">
                    <img src='/media/{{pr.image}}' class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="name">{{pr.product_name}}</h5>
                        <p class="card-text">Price : Rs.{{pr.price}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div id="paypal-button-container"></div>
    </div>
{%endblock%}
    <!-- Include the PayPal JavaScript SDK -->
{%block javascript%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AYsN1t130OxOlK9wHEgGYoqnKQHa9z8kM0g5_YNb7mpj-eWcIySXIFJE4k_F6JBbywiZifINW6wNGL9b&currency=USD"></script>
    
    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '1'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                 window.location.href = "{%url 'placeorderofcartitems'%}";
                return actions.order.capture().then(function (details) {
                    // Show a success message to the buyer
                });
            }
        }).render('#paypal-button-container');
    </script>
{%endblock%}