{%extends 'shop/Basic.html'%}
{%block body%}
{%if product %}
<div class="container" style="align-items: center;">
    {%for item in product%}
    <div class="items">
        <div class="card" style="width: 18rem;">
            <img src='/media/{{item.image}}' class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{item.product_name}}</h5>
                <h4 class="card-title info" style="text-align: center;">Rs.{{item.price}}</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container-2">
    <h1 class="text-success" align="center">Order Has Been Placed SucessFully</h1>
    <h2 class="text-info" align="center">Thanks For using SellingCart</h2>
</div>
{%else%}
<div class="container-2">
    <h1 class="text-success" align="center">Order Has Been Placed SucessFully</h1>
    <br>
    <h2 class="text-info" align="center">Thanks For using SellingCart</h2>
</div>
{%endif%}
{%endblock%}
{%block css %}
<style>
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock %}