{% load static %}
<html>
<title>
	Learn Css
</title>

<head>
	<link rel="stylesheet" href="{%static 'css/loginpage.css'%}">
</head>

<body id="body">
	<form class="login-box" method="POST" enctype="multipart/form-data">
		{%csrf_token%}
		<div class="flexbox">
			<span id="login-text" style="font-size: 30px;">Login Form</span>
			<p>Hi,Enter Your Credentials</p>
			<p>Username</p>
			<input id="username" name="username" type="text" placeholder="Username">
			<p>Password</p>
			<input id="password" type="password" name="password" placeholder="Password">
			<div>
				<button onclick="return login()" type="submit">Login</button>
				<a href="{%url 'registration'%}">SignUp</a>
			</div>
	</form>
</body>
<script>
	function login() {
		var username = document.getElementById('username').value
		var password = document.getElementById('password').value
		if(username == "" || password== ""){
			alert("please enter username and password")
			return false;
		}
		else return true;
	}
</script>

</html>