{% load static %}
<html>
<title>
	Learn Css
</title>

<head>
	<link rel="stylesheet" href="{%static 'css/loginpage.css'%}">
</head>

<body id="body">
	<form class="login-box" method="POST" enctype="multipart/form-data">
		{%csrf_token%}
		<span id="login-text">Login Form</span>
		<div class="flexbox">
			<p>Hi What's Your name ? </p>
			<p>Username</p>
			<input id="username" name="username" type="text" placeholder="Username">
			<p>Password</p>
			<input id="password" type="password" name="password" placeholder="Password">
			<button onclick="login()" type="submit">Login</button>
		</div>
	</form>
</body>
<script>
	function login() {
	}
</script>

</html>