{%extends 'shop/Basic.html' %}
{% block title %}Upload Books{% endblock %}
<!--The Below CSS Block is For Logout Button You can do style in basic.html so that there is no need of writing the below block again and again -->
{% block css%}
<style>
  .col-md-3{
    display: inline-block;
    margin-left: 5rem;
    margin-bottom: 3rem;
  }
  
</style>
{% endblock %}
{% block body%}
<div class="container">
<br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary" >Upload Book</button>
</form>
</div>
{% endblock %}