{%extends 'shop/Basic.html' %}
{% block title %}Download Books{% endblock %}
{% if user.is_authenticated %}
{% block css%}
<style>
  .col-md-3{
    display: inline-block;
    margin-left: 5rem;
    margin-bottom: 3rem;
  }
</style>
{% endblock %}
{%block search %}
    <form method="GET" class="form-inline my-2 my-lg-0" action="{% url 'search_book'%}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_book">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
{%endblock%}
{% block body%}
    <div class="container">
        <h2 align="center" class="text-primary">{{user.username}}</h2>
    </div>
    <div class="table-resposive border rounded">
      <table class="table border rounded table-dark table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-danger p-3 text-center">TITLE</th>
            <th scope="col" class="text-danger p-3 text-center">AUTHOR</th>
            <th scope="col" class="text-danger p-3 text-center">DOWNLOAD</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr class="border">
            <td class="p-3 text-center">{{book.title}}</td>
            <td class="p-3 text-center">{{book.author}}</td>
            <td class="p-3 text-center"><a class="btn btn-primary" href="{{book.pdf.url}}" role="button">Download PDF</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
{%else%}
{% endif %}
<body>
  <h2><a href="{% url 'login' %}"> Login First</a></h2> 
</body>