html{
  scroll-behavior: smooth;
}
:root{
  background-color: black;
  color:white;
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#30ff00);
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,#181d47);
}
.App{
  margin: 5px;
  background-size:cover;
}
.Header {
  text-align: center;
  margin-left: 100px;
  width: auto;
  margin-right:10px;
  background:rgb(21, 21, 24);
  box-shadow: 0 0 10px rgb(86, 22, 223);
}
.Header h1{
  line-height: 70px;
}
.HomeView .introduction{
  color: white;
}

.text-info1{
  font-size: 30px;
  animation:text 2s 1;
}

.SideNavbar{
  background-color:rgb(26, 24, 24);
  position: fixed;
  float:left;
  height: 100%;
  box-shadow: 0 0 10px rgb(147, 147, 238);
  width: 80px;
}
.SideNavbar ul{
  padding: 5px;
}
.SideNavbar ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.SideNavbar ul li:hover {
  background-color: black;
  font-weight: bold;
  padding: 5px 10px;
}
.SideNavbar ul li img{
  width: 70px;
}
.SideNavbar ul li a {
  display: block;
  color:white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.Main{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 90px;
}

.HomeView{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.HomeView p{
  font-weight: bolder;
}
.HomeView img{
  line-height: 0px;
  width:30em;
  animation:text 2s 1;
}
@media (max-width: 600px) {
  .Header{
    padding: 5px;
  }
  .Header h1{
    font-size: 25px;
    line-height: 35px;
  }
  .HomeView{
    display: flex;
    flex-direction: column;
  }
  .HomeView .introduction{
    font-size: 10px;
  }
  .HomeView img{
    width:20em;
  }
}
@keyframes text {
  0%{
    color:darkblue;
    letter-spacing: 2px;
    margin-bottom: -40px;
    width:30em;
    opacity: 0;
  }
  30%{
    letter-spacing: 10px;
    margin: -40px;
    width:25em;
    opacity: 0.5;
  }
  85%{
    letter-spacing: 0px;
    margin-bottom: -40px;
    width:30em;
    opacity:1;
  }
}

.Skills{
  background-color: rgb(36, 33, 33);
  margin: 10%;
  padding: 20px;
  box-shadow: 0px 0px 25px green;
  border-radius: 10px;
}
.Skills h1{
  border-radius: 10px;
  margin: 0px 10%;
}
.Barbox{
  margin: 15px 0px;
}
.bar{
  display: flex;
  width: 100%;
  height: 20px;
  background-color: black;
}
.bar div{
  background: rgb(9,0,36);
  background: linear-gradient(90deg, rgba(9,0,36,0) 0%, rgba(9,121,10,1) 0%, rgba(0,117,255,1) 100%);
  border-radius:5px;
  animation: skill 3s 1;
}

@keyframes skill{
  0%{
    width: 10%;
  }
}

.ProjectView{
  display: flex;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-around;
  align-items: center;
  margin: 20px 25px;
  grid-gap: 10px;
  color: blue;
}
.project {
  display: grid;
  justify-content: center;
  max-width: 300px;
  background-color: white;
  border-radius: 10px;
  height: 300px;
  padding: 20px;
  max-width: 250px;
}

.project img{
  margin: 10px;
  max-width: 200px;
}

@media only screen and (max-width:900px){
  .ProjectView{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px 10px;
  }
  
}
@media only screen and (max-width:600px){
  .ProjectView{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  
}

.ContactForm{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 10%;
  padding: 10px;
}
.InputFields{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.InputFields input {
  font-size: 20px;
  align-self: flex-start;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 3px;
  width: 80%;
}
.InputFields button{
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(172, 29, 29);
  border-radius: 5px;
  align-self: flex-start;
  animation: animateButton 7s infinite;
}
@keyframes animateButton{
  0%{
    background-color: rgb(228, 156, 156);
  }
  25%{
    background-color: rgb(31, 179, 122);
  }
  50%{
    background-color: rgb(49, 19, 129);
  }
  75%{
    background-color: rgb(160, 17, 160);
  }
  100%{
    background-color: rgb(226, 150, 63);
  }
}