:root{
  background-color: black;
  color:white;
}
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.App{
  margin: 10px;
}
.Header {
  text-align: center;
  background:rgb(21, 21, 24);
}
.Header h1{
  line-height: 70px;

}
.HomeView .introduction{
  color: white;
}
.text-info1{
  font-size: 30px;
  animation:text 2s 1;

}

.SideNavbar{
  background-color: darkblue;
  border: 10px solid black;
  display: flex;
  flex-direction: column;
}
.SideNavbar ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  height: 100%;
}
.SideNavbar ul li img{
  width: 70px;
}
.SideNavbar ul li:hover {
  background-color: black;
  font-weight: bold;
  width:auto;
  padding: 5px 10px;
}

.SideNavbar ul li a {
  display: block;
  color:white;
  text-align: center;
  font-size: 25px;
}

.HomeView{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.HomeView p{
  font-weight: bolder;
}
.HomeView img{
  width:30em;
  animation:text 2s 1;
}
@keyframes text {
  0%{
    color:darkblue;
    letter-spacing: 2px;
    margin-bottom: -40px;
    width:30em;
  }
  30%{
    letter-spacing: 10px;
    margin: -40px;
    width:25em;
  }
  85%{
    letter-spacing: 0px;
    margin-bottom: -40px;
    width:30em;
  }
}

.Main{
  display: flex;
}