{% extends 'shop/basic.html' %}
    {% block css%}
    <style>
      .col-md-3{
        display: inline-block;
        margin-top: 1rem;
        margin-left: 5rem;
        margin-bottom: 3rem;
      }

      img{
        max-width: 240px;
        height: 240px;
      }
      
    </style>
    {% endblock %}
{%block body%}
{% load static %}
{% block cart_items %}
  <span id="cart_count">{{items_count}}</span>
{% endblock %}
{% if product|length > 0 %}
<div class="container">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner mx-auto" role="listbox">

            <div class="carousel-item active">
                
                {% for i in product|slice:"0:"%}
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                      <img src='/media/{{i.product_detail.image}}' class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.product_detail.product_name}}(x{{i.item_quantity}})</h5>
                          <h4 class="card-title info">Rs.{{i.product_detail.price}}</h4>
                          <a id="qv{{i.id}}" href="{%url 'product_view' id=i.product_detail_id%}" class="btn btn-primary">View Product</a>
                          <a id="del{{i.id}}" href="{%url 'deleteitem' pid=i.product_detail_id%}" class="btn btn-primary">Delete Item</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                

            </div>

        </div>

    </div>
    <h2 class="text-primary" align="center">Total Price : {{price}}</h2>
    <div class="container" align="center">
      <a href="{%url 'ShopHome'}" class="btn btn-success">Buy</a>
    </div>

</div>
{% else %}
<h1 align='center'>No Item In Your Cart</h1>
{% endif %}

{% endblock %}

