{% extends 'shop/basic.html' %}
    {% block css%}
    <style>
      .col-md-3{
        display: inline-block;
        margin-top: 1rem;
        margin-left: 5rem;
        margin-bottom: 3rem;
      }

      img{
        max-width: 240px;
        height: 240px;
      }
      
    </style>
    {% endblock %}

    {%block search %}
    <form method="GET" class="form-inline my-2 my-lg-0" action="{% url 'search'%}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {%endblock%}

    {% block cart_items %}
        <span id="cart_count">{{items_count}}</span>
    {% endblock %}

  {% block body %}
  {% load static %}

    <div class="container">

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner mx-auto" role="listbox">

                <div class="carousel-item active">
                    {% for i in product|slice:"0:"%}
                    <div class="col-md-3 col-xs-3 col-sm-3">

                        <div class="card" style="width: 18rem;">
                          <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" id="name">{{i.product_name}}</h5>
                              <p class="card-text">{{i.desc}}</p>
                              <button onclick="addtocart()" id="{{i.id}}" class="btn btn-primary CartID">Add To Cart</button>
                              <a id="qv{{i.id}}" href="{%url 'product_view' id=i.id%}" class="btn btn-primary">View Product</a>
                            </div>
                        </div>

                    </div>
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>
{% endblock %}
{% block javascript%}
<!--Here We are going to write a function that on click get the product id-->
<script>
      $(".CartID").click(function() {
          var count = parseInt($("#cart_count").text()); 
          $("#cart_count").html(count);
          var pid = $(this).attr('id');

          var req = new XMLHttpRequest();
          var url = "{%url 'addtocart'%}?id="+pid;
          req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              count = parseInt(req.responseText);
              $("#cart_count").html(count);
            }
          };
          req.open("GET", url, true);
          req.send();
      });
</script>
{% endblock %}