{% extends 'shop/basic.html' %}
 {% load static %}
    {% block css%}
    <link rel="stylesheet" href="{%static 'css/productlist.css'%}">
    {% endblock %}

    {%block search %}
    <form method="GET" class="form-inline my-2 my-lg-0" action="{% url 'search'%}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {%endblock%}

    {% block cart_items %}
        <span id="cart_count">{{items_count}}</span>
    {% endblock %}

  {% block body %}
  <div class="container">
    <div class="items">
      {% for i in product|slice:"0:"%}
          <div class="card" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" id="name">{{i.product_name}}</h5>
                <p class="card-text">{{i.desc}}</p>
                <button onclick="addtocart()" id="{{i.id}}" class="btn btn-primary CartID">Add To Cart</button>
                <a id="qv{{i.id}}" href="{%url 'product_view' id=i.id%}" class="btn btn-primary">View Product</a>
              </div>
          </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block javascript%}
<!--Here We are going to write a function that on click get the product id-->
<script>
      $(".CartID").click(function() {
          var count = parseInt($("#cart_count").text()); 
          $("#cart_count").html(count);
          var pid = $(this).attr('id');

          var req = new XMLHttpRequest();
          var url = "{%url 'addtocart'%}?id="+pid;
          req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              count = parseInt(req.responseText);
              $("#cart_count").html(count);
            }
          };
          req.open("GET", url, true);
          req.send();
      });
</script>
{% endblock %}