img{
    width : 130px;
    height: 250px;
}
a{
    display: block;
}
.container{
    display: flex;
    flex-direction: column;
}
.container > div{
    flex: 1;
    margin: 35px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}
.card-cover{
    background-color: white;
    background-clip: content-box;
}
.card{
    padding: 5px;
    border: 1px solid rgba(red, green, blue, 0);
    border-radius: 5%;
    transition: all 0.2s ease-in-out;
}
.card:hover{
    box-shadow: 5px 10px 10px black;
    transform: translateZ(300px) translateY(-20px);
}
.card-text{
    transform-style: preserve-3d;
    font-size: 20px;
    color: green;
    font-weight: bolder;
}
@media only screen and (max-width:900px){
    .container{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}
@media only screen and (max-width:650px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}
